.bestseller {
    padding-bottom: 100px;

    @include mobile {
        padding-bottom: 40px;
    }
}


.bestseller_title {
    padding: 48px 0;

    @include mobile {
        padding: 40px 0 16px;
        text-align: center;
    }
}

.bestseller__cards {
    display: grid;
    // grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(262px, 1fr));
    gap: 48px 24px;
    align-items: flex-start;

    @include mobile {
        min-width: 151px;
        grid-template-columns: repeat(auto-fit, minmax(151px, 1fr));
        gap: 16px 8px;
    }
}