.headline-4 {
    font-family: var(--font-accent);
    font-size: 40px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -0.4px;
    color: #000;

    @include mobile {
        font-size: 34px;
        line-height: 1.118;
        letter-spacing: -0.6px;
    }
}

.headline-5 {
    font-family: var(--font-accent);
    font-size: 34px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -0.6px;
    color: #121212;
}