.logo,
a.logo {
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
    font-family: var(--font-accent);
    color: #000;

    span {
        color: #141718;
    }

    &--small {
        font-size: 16px;
    }

    @include mobile {
        font-size: 16px;

        span {
            color: #6C7275;
        }
    }
}