// .header__nav {
// }
// .nav {
// 	font-size: 18px;
// }
// .nav__list {
// 	display: flex;
// 	column-gap: 30px;
// }
// .active {
// }

.nav {
	background-color: #FFAB00;
	padding: 18px 0;
}

.nav__rows {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__logo {
	display: flex;
	gap: 4px;
	align-items: center;
}

.nav__burger {
	display: none;

	@include mobile {
		display: block;
	}
}

.nav__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 40px;

	@include mobile {
		display: none;
	}
}

.nav__link {
	display: flex;
	gap: 2px;
	align-items: center;
	color: #141718;
}

.nav__btns {
	display: flex;
	align-items: center;
	gap: 18px;

}

.nav__btn {
	display: flex;
	align-items: center;
	gap: 5px;

	&--count, &--user-item {
		display: inline-block;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background-color: #141718;

		font-size: 12px;
		font-weight: 700;
		line-height: 20px;
		text-align: center;
		color: var(--tagline-link);
	}
	&--user-item {
		color: #fff;
	}

	@include mobile {

		&--search,
		&--user {
			display: none;
		}
	}
}

