.newsletter {
    height: 360px;
    padding-top: 101px;
    display: flex;
    justify-content: center;
    background-image: url(./../img/newsletter/newsletter-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    @include mediaBg() {
        background-image: url(./../img/newsletter/newsletter-bg@2x.jpg);
    }

    @include tablet {
        height: auto;
        padding: 95px var(--container-padding);
        background-image: none;
        background: #f2f4f6;
    }

}

.newsletter__content {
    max-width: 488px;
    flex-grow: 1;

    text-align: center;
}

.newsletter__title {
    margin-bottom: 8px;


    @include mobile {
        font-size: 28px;
        line-height: 1.2;
        margin-bottom: 0;
    }
}

.newsletter__desk {
    font-size: 18px;
    line-height: 1.67;
    color: #121212;
    margin-bottom: 32px;

    @include mobile {
        font-size: 14px;
        line-height: 1.57;
    }
}

.form-newsletter {
    padding-bottom: 12px;
    display: flex;
    gap: 8px;
    border-bottom: 1px solid rgba(108, 114, 117, 0.5);

}

.form-newsletter__input {
    color: #000;
    flex-grow: 1;

    &::placeholder {
        color: #6C7275;
    }
}

.form-newsletter__btn {
    color: #6C7275;
    transition: all 0.2s ease-in;

    &:hover {
        color: #000;
    }
}