.swiper-slide {
    width: 262px !important;

    @include mobile {
        width: 231px !important;
    }
}

.arrivals__dots .swiper-pagination {
    position: static !important;
    display: flex;
    align-items: center;
    gap: 8px;
}

.swiper-pagination-bullet {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 16px;
    height: 16px;
    border-radius: 50%;

    border: 1px solid transparent;
    transition: all 0.2s ease-in;

    &::before {
        display: block;
        content: "";
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #6C7275;

    }
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    border: 1px solid #141718;
    transition: all 0.2s ease-in;

    &::before {
        background-color: #141718;
    }
}