.timer {
    display: flex;
    gap: 16px;
    align-items: flex-start;
}

.timer__el {
    text-align: center;
}

.timer__value {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FEFEFE;
    width: 60px;
    height: 60px;
    font-family: var(--font-accent);
    font-weight: 500;
    font-size: 34px;
    line-height: 1.12;
    letter-spacing: -0.6px;
    color: #141718;
}

.timer__desc {
    font-size: 12px;
    line-height: 1.67;
}